[Unit]
Description=CyberPower UPS Monitor Service
After=network.target

[Service]
Type=simple
User=cyberpower-ups
Group=plugdev
ExecStart=/usr/bin/ups-monitor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
